*, *::before, *::after {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
}

body{
  font-family: url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
  background-color: whitesmoke ;
}

.menu{
  background-color: white;
  height: 85px;
  width: 105vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
}

img{
width: 70px;
height: 70px;
position: relative;
margin-left: 15px;


}

.menu-items {
  text-decoration: none;
  margin-top: 11px;
  display: flex;
  list-style: none;
  margin-right: 50px;
}

.menu-items li a{
  border-radius: 5px;
  margin: 0 50px;
  text-decoration:none;
  font-size: 20px;
  font-weight: bold;
  display: block;
  color: gray;

}


.contenedor1 {
  width: 400px;
  height: 50px;
  background: rgb(230, 228, 228);
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 100px;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.buscador{
  width: 300px;
  border:none;
  color: #4f5b66;
  background-color:transparent;
  margin-top: 15px;
  margin-left: 10px ;
  position: absolute;
  font-size: 18px;
}

.icon{
  position:absolute;
  margin-top: 16px;
  margin-left: -15px;



}

.settings{
  margin-top: 20px;

}