*, *::before, *::after {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
}

body{
  font-family: url(https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap);
  background-color: whitesmoke ;
}

.menu{
  background-color: white;
  height: 85px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
}

.logo {
  color: white;
  font-size: 85px;
  padding: 0px;
  font-weight: bold;
}

.menu-items {
  text-decoration: none;
  display: flex;
  list-style: none;
  margin-right: 50px;
}

.menu-items li a{
  border-radius: 5px;
  margin: 0 60px;
  text-decoration:none;
  font-size: 20px;
  display: block;
  color: #52b7b5;
}

.menu-items li:hover, li.active {
  background-color: rgba(0,0,0,0.1);
  transform: 4s;
  border-radius: 5px;
}